MNEMONIC=""
PRIVATE_KEY=""
ETH_RPC_URL=""
OP_RPC_URL=""
POLYGON_RPC_URL=""
# Etherscan API key (Ethereum and its testnets)
ETHERSCAN_API_KEY=""
# Optimistic Etherscan API key (separate API key, Optimism and Optimism Goerli testnet specific)
OPTIMISM_ETHERSCAN_API_KEY=""
# Polygonscan API key
POLYGONSCAN_API_KEY=""
PRE_ROOT=""
PRE_ROOT_TIMESTAMP=""
WORLD_ID_IDENTITY_MANAGER_ADDRESS=""
STATE_BRIDGE_ADDRESS=""
OPTIMISM_WORLD_ID_ADDRESS=""
POLYGON_WORLD_ID_ADDRESS=""