# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/cache
**/node_modules
**/out
node_modules
.vscode

docs/src/*
docs/book/*
docs/book.css
docs/book.toml
docs/solidity.min.js
docs/.gitignore

# files
*.env
*.log
src/script/.deploy-config.json
.DS_Store
.pnp.*
yarn-debug.log*
yarn-error.log*

# broadcasts
!/broadcast
/broadcast/*
/broadcast/*/31337/

# remappings
remappings.txt