# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/cache
**/node_modules
**/out
node_modules


# files
*.env
*.log
script/.deploy-config.json
.DS_Store
.pnp.*
yarn-debug.log*
yarn-error.log*

# broadcasts
!/broadcast
/broadcast/*
/broadcast/*/31337/

# remappings
remappings.txt