# directories
**/cache
**/out
.vscode

docs/src/*
docs/book/*
docs/book.css
docs/book.toml
docs/solidity.min.js
docs/.gitignore

# files
*.env
*.log
.DS_Store

# broadcasts
!/broadcast
/broadcast/*
/broadcast/*/31337/
